@using MeetRoomWebApp.Models.ViewModels;
@model (Dictionary<DateTime, SessionViewModel[]>, string[], string);
@{
    ViewData["Title"] = "Schedule";

    string dayOfWeek = string.Empty;
    string date = string.Empty;
    double startSessionY = 0;
    double heightSessionY = 0;
    double finishSessionY = 0;
    }
<html lang="en">
    <body class="bg-dark-blue">
        <div class="container bg-dark-blue">
            <div>
                <div class="text-center">
                    <h2>MeetRoom: Schedule</h2>
                    <form method="get" asp-action="GetWeek" class="mt-4">
                        <div class="row justify-content-center">
                            <input name="week" type="week" value="@Model.Item3" lang="en"/>
                            <input type="submit" class="btn btn-bg-dark btn-primary" value="Set"/>
                        </div>
                    </form>
                </div>
                <div class="row flex-nowrap mt-4">
                    <div class="col-sm">
                        <a asp-area="" asp-controller="Session" asp-action="Create" class="btn btn-primary btn-bg-dark">
                            Book now
                        </a>
                    </div>

                    <!-- Axis of days -->
                    @foreach (var item in Model.Item1.Keys)
                    {
                        <div class="col-sm text-center">
                            <h5>@(dayOfWeek = item.DayOfWeek.ToString())</h5>
                            <h5>@(date = item.ToShortDateString())</h5>
                        </div>
                    }
                </div>
            </div>

            <div class="row flex-nowrap bg-black">

                <!-- Time axis -->
                <div class="col-lg bg-dark-blue">
                    @foreach (var item in Model.Item2)
                    {
                        <h5>@(item)</h5>
                    }
                </div>

                <!-- Days -->
                @foreach (var item in Model.Item1)
                 {
                    <div class="col-lg col-margin-left bg-dark-blue" @(finishSessionY = 0)>
                        <!-- Sessions -->
                        @foreach (var session in item.Value)
                        {
                            <div class="book-style text-center email" style="margin-top: @(startSessionY = (32 * (((session.DateSession.Hour * 60) + session.DateSession.Minute) / 30)) + 12 - finishSessionY)px; height: @(heightSessionY = 32 * session.SessionDuration.TotalMinutes / 30)px;" @(finishSessionY += startSessionY + heightSessionY)>
                                <h5 class="color-black">Guests</h5>
                                <!-- Guests -->
                                @foreach (var user in session.Guests)
                                {
                                    <h6>@string.Join("\n", user.Email.Split('\n').Select(row => row.Remove(row.IndexOf('@'))))</h6>
                                }
                            </div>
                        }
                    </div>
                 }
            </div>
        </div>
    </body>
</html>
